<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Adicionando novo Item   <ion-icon name="construct"></ion-icon></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- <ion-avatar slot="start" *ngIf="produtoImg"> -->
        <img [src]="produtoImg" />
      <!-- </ion-avatar> -->
          <h1>{{ produto.nome }}</h1>
            <pre text-wrap>{{ produto.descricao }}</pre>
              <app-valor [valor]="produto.preco"></app-valor>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <ion-item>
      <ion-label position="stacked" class="font13">Quantidade</ion-label>
      <ion-input slot="end" type="number" min="0" step="1" formControlName="quantidade" (ionChange)="executaCalcularTotal()"></ion-input>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" color="dark" (click)="adicionarQuantidade()">
              <ion-icon name="add"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" color="dark" (click)="removerQuantidade()">
              <ion-icon name="remove"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-list>
      <!-- <ion-radio-group *ngIf="form.value.formvoltagemOp != 3 ">
        <ion-list-header>
          <ion-label>Voltagem</ion-label>
        </ion-list-header>
    
        <ion-item *ngFor="let item of voltagemOp">
          <ion-label> {{ item.desc }} </ion-label>
          <ion-radio id="voltagem" formControlName="voltagem" [value]="item.valor" (click)="radioSelect($event)"></ion-radio>
        </ion-item>
      </ion-radio-group> -->
      <ion-radio-group formControlName="voltagem">
        <ion-list-header>
          <ion-label>Voltagem</ion-label>
        </ion-list-header>
    
        <ion-item>
          <ion-label>127 V</ion-label>
          <ion-radio slot="start" value="127 V" checked></ion-radio>
        </ion-item>    
        <ion-item>
          <ion-label>220 V</ion-label>
          <ion-radio slot="start" value="220 V"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-item text-end>
      <ion-label>
        <h2 class="font13">Total: <app-valor [valor]="total"></app-valor></h2>
      </ion-label>
    </ion-item>

    <div margin-vertical>
      <ion-button expand="block" color="dark" type="submit">Adicionar ao carrinho</ion-button>
    </div>
  </form>
</ion-content>